%section.section-padding.container.prizes-container#prizes
  %h2.section-header.centered
    .section-header--label Sponsors
  .sponsors.centered(m-tier-1)
    = image_tag "sponsors/chegg.png", class: "sponsors--sponsor"

  .sponsors.centered.leader(m-tier-2)
    = image_tag "sponsors/ibm.jpg", class: "sponsors--sponsor"
    = image_tag "sponsors/automattic.jpg", class: "sponsors--sponsor"

  .sponsors.centered.leader(m-tier-3)
    = image_tag "sponsors/paypal.png", class: "sponsors--sponsor"
    = image_tag "sponsors/capitalone.png", class: "sponsors--sponsor"
    = image_tag "sponsors/target.png", class: "sponsors--sponsor"

  .sponsors.centered.leader(m-tier-4)
    = image_tag "sponsors/clusterpoint.png", class: "sponsors--sponsor"
    = image_tag "sponsors/worldquant_logo.jpg", class: "sponsors--sponsor"
    = image_tag "sponsors/dolby.png", class: "sponsors--sponsor"
    = image_tag "sponsors/pebble.png", class: "sponsors--sponsor"
    = image_tag "sponsors/linode.png", class: "sponsors--sponsor"
    = image_tag "sponsors/namecheap1.png", class: "sponsors--sponsor"    
    = image_tag "sponsors/audible.png", class: "sponsors--sponsor"
    = image_tag "sponsors/moxtra.png", class: "sponsors--sponsor"
    = image_tag "sponsors/general_assembly.png", class: "sponsors--sponsor"
    = image_tag "sponsors/RubiconProject.png", class: "sponsors--sponsor"
    = image_tag "sponsors/twilio.png", class: "sponsors--sponsor"
    = image_tag "sponsors/edmodo.png", class: "sponsors--sponsor"
    = image_tag "sponsors/rocketfuel.png", class: "sponsors--sponsor"
    = image_tag "sponsors/makeschool.png", class: "sponsors--sponsor"
    = image_tag "sponsors/twist.png", class: "sponsors--sponsor"
    = image_tag "sponsors/back&.png", class: "sponsors--sponsor"
    = image_tag "sponsors/mbacsi.jpg", class: "sponsors--sponsor"
    = image_tag "sponsors/draper.png", class: "sponsors--sponsor"
    = image_tag "sponsors/500startups.png", class: "sponsors--sponsor"
    = image_tag "sponsors/bootstrap.png", class: "sponsors--sponsor"
    = image_tag "sponsors/galvanize.png", class: "sponsors--sponsor"
    = image_tag "sponsors/coursehero.png", class: "sponsors--sponsor"
    = image_tag "sponsors/att.jpg", class: "sponsors--sponsor"
    = image_tag "sponsors/studyblue.jpg", class: "sponsors--sponsor"
    = image_tag "sponsors/teachforamerica.jpg", class: "sponsors--sponsor"
    = image_tag "sponsors/moback.png", class: "sponsors--sponsor"
    = image_tag "sponsors/particle.png", class: "sponsors--sponsor"
    = image_tag "sponsors/hackerrank.png", class: "sponsors--sponsor"
    = image_tag "sponsors/table.png", class: "sponsors--sponsor"
    = image_tag "sponsors/wolfram.png", class: "sponsors--sponsor"
    = image_tag "sponsors/leapmotion.png", class: "sponsors--sponsor"
    = image_tag "sponsors/usertesting.png", class: "sponsors--sponsor"
    = image_tag "sponsors/texasinstruments.png", class: "sponsors--sponsor"
    = image_tag "sponsors/thalmiclabs.png", class: "sponsors--sponsor"
    = image_tag "sponsors/Emotiv.png", class: "sponsors--sponsor"
    = image_tag "sponsors/muse.png", class: "sponsors--sponsor"
    = image_tag "sponsors/oculus.png", class: "sponsors--sponsor"
    = image_tag "sponsors/alienware.png", class: "sponsors--sponsor"
    = image_tag "sponsors/3dsystems.png", class: "sponsors--sponsor"
    = image_tag "sponsors/aboutme.png", class: "sponsors--sponsor"
    = image_tag "sponsors/prosky.png", class: "sponsors--sponsor"
    = image_tag "sponsors/branch_io.png", class: "sponsors--sponsor"
    = image_tag "sponsors/aws.png", class: "sponsors--sponsor"
    = image_tag "sponsors/socket.png", class: "sponsors--sponsor"
    = image_tag "sponsors/nanovr.png", class: "sponsors--sponsor"
    = image_tag "sponsors/hacksterio.png", class: "sponsors--sponsor"
    = image_tag "sponsors/google.png", class: "sponsors--sponsor"
    = image_tag "sponsors/wikihow.png", class: "sponsors--sponsor"
    = image_tag "sponsors/gun.png", class: "sponsors--sponsor"
    = image_tag "sponsors/wikihow.png", class: "sponsors--sponsor"
    = image_tag "sponsors/redbull.png", class: "sponsors--sponsor"
    = image_tag "sponsors/drinkhint.jpg", class: "sponsors--sponsor"
    = image_tag "sponsors/braintree.png", class: "sponsors--sponsor"
    = image_tag "sponsors/coding_house.png", class: "sponsors--sponsor"
    = image_tag "sponsors/teespring.png", class: "sponsors--sponsor"
    = image_tag "sponsors/pearlhacks.png", class: "sponsors--sponsor"
    = image_tag "sponsors/nwhacks.jpg", class: "sponsors--sponsor"
    = image_tag "sponsors/lahacks.jpeg", class: "sponsors--sponsor"
    = image_tag "sponsors/hack4baltimore.png", class: "sponsors--sponsor"
    = image_tag "sponsors/edsurge.jpg", class: "sponsors--sponsor"
    = image_tag "sponsors/kubby.png", class: "sponsors--sponsor"
    = image_tag "sponsors/uber.png", class: "sponsors--sponsor"
    = image_tag "sponsors/globalcommit.png", class: "sponsors--sponsor"
    = image_tag "sponsors/ibm_bluemix.png", class: "sponsors--sponsor"
    = image_tag "sponsors/kpcb.jpg", class: "sponsors--sponsor"
    = image_tag "sponsors/gsvlabs.png", class: "sponsors--sponsor"
    = image_tag "sponsors/edtechworldtour.jpeg", class: "sponsors--sponsor" 
    = image_tag "sponsors/planetxone.png", class: "sponsors--sponsor"
    = image_tag "sponsors/nyentek.png", class: "sponsors--sponsor"
    = image_tag "sponsors/ostemlogo.svg", class: "sponsors--sponsor"
    = image_tag "sponsors/dev_network.png", class: "sponsors--sponsor"
    = image_tag "sponsors/femresources.png", class: "sponsors--sponsor"
    = image_tag "sponsors/greenathon.png", class: "sponsors--sponsor"
    = image_tag "sponsors/medhacks.png", class: "sponsors--sponsor"
    = image_tag "sponsors/citrus.png", class: "sponsors--sponsor"
    = image_tag "sponsors/oreilly.png", class: "sponsors--sponsor"
    = image_tag "sponsors/sharethebus.png", class: "sponsors--sponsor"
