= render "partials/splash"
= render "partials/schedule"
= render "partials/transportation"
= render "partials/venue"
= render "partials/prizes"
= render "partials/resources"
= render "partials/sponsors"
